.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px; 
    padding: 0 40px; 

    background-color: lch(70.19% 20.63 156.35);
    color: white;
    
}

.navbar .logo {
    display: flex;
    align-items: center;   
    gap: 10px;
    margin-left: 0;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}   

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 2px;
}

.menu a:hover {
    text-decoration: underline;
}

.btn-login {
    background-color: lch(70.19% 20.63 156.35) ;
    color: lch(49.74% 33.5 153.61);
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 600;
    margin-right: 40px;
}

.btn-login:hover {
    background-color: lch(49.74% 33.5 153.61);
    color: white;
}

section {
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

section h2 {
    font-size: 28px;
    color: lch(70.19% 20.63 156.35);
    margin-bottom: 15px;
}

section p {
    font-size: 18px;
    color: #333;
    line-height: 1.6; 
}

#sobre {
    background-color: #f9f9f9;
    padding: 60px 40px;
}

.imagem {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.footercontainer {
    display: flex;
    align-items: flex-start;
    background-color: lch(70.19% 20.63 156.35);
    color: white;
    padding: 20px 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.footersection {
    flex: 1;
    min-width: 250px;
    padding: 10px;
    text-align: center;
}

.footersection strong {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.footersection p {
    font-size: 16px;
    margin-bottom: 8px;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 80%;
}

.intro h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.intro p {
    color: #f1f1f1;
    font-size: 18px;
}

main {
    position: relative;   
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
}

.sobre-content {
    max-width: 600px;
    text-align: left;
}

.sobre-vantagens {
    flex:1;
    text-align: left;
    background-color: lch(89.09% 6.27 157.56);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    border: 1 px solid #ddd;
}


.sobre-vantagens h3 {
    font-size: 24px;
    color: lch(70.19% 20.63 156.35);
    margin-bottom: 15px;
}

.sobre-vantagens ul {
    list-style: none;
    padding: 0;
}

.sobre-vantagens li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; 
}

#funcionalidades {
    background-color: #f9f9f9;
    padding: 60px 40px;
}

.funcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
}

.funcontent,
.funlista {
    flex: 1;
    text-align: left;
}   

.funlista {
    background-color: lch(89.09% 6.27 157.56);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    border: 1 px solid #ddd;
}

.funlista h3 {
    font-size: 24px;
    color: lch(70.19% 20.63 156.35);
    margin-bottom: 15px;
}

.funlista ul {
    list-style: none;
    padding: 0;
}

.funlista li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; 
    font-weight: 400;
}

.separador {
    width: 80%;
    margin: 40px auto;
    border: none;
    border-top: 2px solid #ddd; 
}

#contactos {
    background-color: #f9f9f9;
    padding: 60px 40px;
}

.contactocontainer {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.contactoscontainer h2 {
    font-size: 28px;
    color: lch(70.19% 20.63 156.35);
    margin-bottom: 15px;
}

.contactoscontainer p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px; 
}

.contactosform {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    border: 1 px solid #ddd;
    text-align: left;
}

.contactosform label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.contactosform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contactosform button {
    background-color: lch(70.19% 20.63 156.35);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contactosform button:hover {
    background-color: lch(49.74% 33.5 153.61);
}

